<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
    <body>
        <h1>{{ info }}</h1>
        <form method="post">
            {% csrf_token %}
            <label for="login">Введите логин:</label>
            <input type="text" id="login" name="login" maxlength="30" required>

            <label for="password">Введите пароль:</label>
            <input type="text" id="password" name="password" minlength="8" required>

            <label for="repeat_password">Повторите пароль:</label>
            <input type="text" id="repeat_password" name="repeat_password" minlength="8" required>

            <label for="age">Введите свой возраст:</label>
            <input type="number" id="age" name="age" maxlength="3" required>

            <button type="submit">Send</button>
        </form>
    </body>
</html>